<%= simple_form_for [@event, @guest] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div id="guests">
      <div class="form-group">
        <label for="1">Guest</label>
        <input name="guests[]" type="text" id="1" class="form-control" />
      </div>

      <hr style="border-width: 4px;" class="m-0">
    </div>

    <button type="button" class="btn btn-white add-guest-btn form-group d-flex justify-content-center align-items-center" style="height: 102px; width: 100%;">
      <%= image_tag('plus.png', height: '22', width: '22') %>
    </button>
    <hr style="border-width: 4px;" class="m-0">

  </div>

  <div class="form-actions bottom-btn">
    <%= f.button :submit, "Add to guestlist", class: "submit-btn w-auto" %>
  </div>
<% end %>
