<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <div id="main">
    <%= link_to image_tag('burger-menu.png', height: '20', width: '22'), class: "openbtn" %>
  </div>
  <div id="mySidebar" class="sidebar">
    <h2>Your Events</h2>
    <% if !(@current.empty?) %>
    <h3 class ="header-sidebar">Today</h3>
    <% @current.each do |current_event| %>
    <div class="event"><h2><%= link_to current_event.title, event_path(current_event) %></h2>
      <% end %>
    </div>
    <% end %>
    <% if !(@pending.empty?) %>
    <h3 class ="header-sidebar">Upcomming</h3>
    <div class="event">
      <% @pending.each do |pending_event| %>
      <h2><%= link_to pending_event.title, event_path(pending_event) %></h2>
      <% end %>
    </div>
    <% end %>
    <% if !(@past.empty?) %>
    <h3 class ="header-sidebar">Past</h3>
    <div class="event">
      <% @past.each do |past_event| %>
      <h2><%= link_to past_event.title, event_path(past_event) %></h2>
      <% end %>
    </div>
    <% end %>
  </div>
  <button class="openbtn">&#9776;</button>

  <h4 class="mb-0" style="font-family: Noto Sans; font-weight: bold; color: #472B62">jessi</h4>
  <%= link_to image_tag('plus.png', height: '22', width: '22'), new_event_path %>
</div>

<!-- <a href="javascript:void(0)" id="closebtn">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a> -->
