<!-- Sidebar -->
<div id="sidebar">

  <div id="dismiss">
    <%= image_tag('back-arrow.png', height: '22', width: '20', class: "arrow") %>
  </div>
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h4 style="font-weight: bold;">Your Events</h4>
      </div>
        <% if !(@current.empty?) %>
      <div class="list-unstyled components">

        <p class="sidebar-sub-header" style="font-family: bold;">Today</p>
        <div class="active">
          <div class="list-unstyled" id="homeSubmenu">
            <% @current.each do |current_event| %>
            <div class="list-items-unstyled">
              <%= link_to current_event.title, event_path(current_event) %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
            <% end %>
            <% if !(@pending.empty?) %>
        <div class="list-unstyled components">
            <p class="sidebar-sub-header" style="font-family: bold;">Upcoming</p>
          <div class="active">
            <div class="list-unstyled" id="homeSubmenu">
                <% @pending.each do |pending_event| %>
              <div class="list-items-unstyled">
                <%= link_to pending_event.title, event_path(pending_event) %>
              </div>
                <% end %>
            </div>
          </div>
        </div>
          <% end %>
          <% if !(@past.empty?) %>
          <div class="list-unstyled components">
            <p class="sidebar-sub-header" style="font-family: bold;">Past</p>
            <div class="active">
              <div class="list-unstyled" id="homeSubmenu">
               <% @past.each do |past_event| %>
                <div class="list-items-unstyled">
                <%= link_to past_event.title, event_path(past_event) %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
            <% end %>
          </div>

            <!-- <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
              </li> -->
            <div class="sidebar-logoutbtn">
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </div>
          </div>

            <!-- <li>
                <a href="#">Contact</a>
              </li> -->


            <!-- Page Content -->

            <!-- Dark Overlay element -->
            <!-- <div class="overlay"></div> -->

            <% content_for :sidebar do%>


            <script type="text/javascript">

              $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                  theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
            // hide overlay
            $('.overlay').removeClass('active');
          });

                $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').addClass('active');
            // fade in the overlay
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
              });
            </script>

            <% end %>
