<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '20', width: '22'),  event_path(@event) %>
  <h4 class="mb-0" style="font-family: Noto Sans; font-weight: bold; color: #472B62">Edit Event Details</h4>
  <div style="width: 22px"></div>
</div>

<h1 class="form-h1">Edit Your Event</h1>

<%= simple_form_for @event, html: { multipart: true } do |f| %>
<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :location %>
  <div class="form-inputs-numbers d-flex">
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :description %>
  </div>
</div>

<div class="form-submit-btn d-flex justify-content-between">

  <%= f.button :submit, "Update Event", { class: 'login-btn' , id: 'new-event-btn'}  %>
</div>
<% end %>
