<h1>All your Events</h1>
<% @events.each do |event| %>
<div class="event"><h2><%= link_to event.title, event_path(event) %></h2>
<p>From<%= event.start_time %> to <%= event.end_time %></p>
<%= link_to "Delete Event", event_path(event), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
</div>
<% if @events.empty? %>
<%= link_to "Create an Event", new_event_path %>
<% else %>
<%= link_to "Create another Event", new_event_path %>
<% end %>
