<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '22', width: '20'), :back %>
  <h5 class="mb-0" style="font-family: Noto Sans; font-weight: bold; color: #472B62">Create a new event</h5>
  <div style="width: 22px"></div>
</div>

<div class="sign-up-container">
<h1 class="form-h1">Add new event</h1>



      <%= simple_form_for @event, html: { multipart: true } do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :location %>
          <div class="form-inputs-numbers"> Event start-time
            <%= f.input :start_time, as: 'text', input_html: {class: 'picker'}, label: false%>
          </div>
          <div class="form-inputs-numbers"> Event end-time
            <%= f.input :end_time, as: 'text', input_html: {class: 'picker'}, label: false%>

          </div>

            <%= f.input :description %>
        </div>

     <div class="form-submit-btn d-flex justify-content-between">

      <%= f.button :submit, "Create Event", { class: 'login-btn' , id: 'new-event-btn'}  %>
    </div>
    <% end %>
</div>
