<%= render 'shared/navbar-expanded-overview' %>
<div style="margin-top: 120px">
  <h1><%= @event.title %></h1>
  <p>In <%= @event.location %></p>
  <p>From <%= @event.start_time %> to <%= @event.end_time %></p>
  <p><%= @event.description %></p>
  <p>Your Guests are: <% @event.guests.each do |guest| %>
    <ul>
      <li><%= guest.name %></li><li><%= link_to "Delete Guest", event_guest_path(@event, guest), method: :delete, data: {confirm: "Are you sure?"} %></li>
    </ul>
    <% end %>
  </p>
  <%= link_to "Guest List", event_guests_path(@event, @guest) %>
  <%= link_to "Edit Event", edit_event_path(@event)%>
  <%= link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Apple Calendar", @link_apple %>
  <%= link_to "Google Calendar", @link_google %>
</div>
