<%= render 'shared/navbar-expanded-overview' %>
<div class="px-4" style="margin-top: 120px">
  <div class="card">
    <div class="pb-4">
      <h5 style="font-weight: bold; font-family: Noto Sans; color: #472B62;"><%= @event.title %></h5>
    </div>
    <div class="divider mb-4">
      <h5 class="mb-3" style="font-family: Noto Sans; color: #472B62;">Time</h5>
      <p style="font-size: 14px;" class="mb-2"><%= @event.start_time %></p>
      <p style="font-size: 14px;"><%= @event.end_time %></p>
    </div>

    <div class="divider mb-4">
      <h5 class="mb-3" style="font-family: Noto Sans; color: #472B62;">Location</h5>
      <p style="font-size: 14px;"><%= @event.location %></p>
    </div>

    <div>
      <h5 class="mb-3" style="font-family: Noto Sans; color: #472B62;">Description</h5>
      <p style="font-size: 14px;"><%= @event.description %></p>
    </div>

  </div>
    <h1><%= @event.title %></h1>
    <p>In <%= @event.location %></p>
    <p>From <%= @event.start_time %> to <%= @event.end_time %></p>
    <p><%= @event.description %></p>
    <p>Your Guests are:
      <ul><li><%= current_user.name %></li>
        <% @event.guests.each do |guest| %>

        <% if guest.name != current_user.name %>
        <li><%= link_to guest.name, event_guest_path(@event, guest) %></li><li><%= link_to "Delete Guest", event_guest_path(@event, guest), method: :delete, data: {confirm: "Are you sure?"} %></li>
        <% end %>
      </ul>
      <% end %>
    </p>

  <%= link_to "Add Guests", new_event_guest_path(@event) %>
  <%= link_to "Edit Event", edit_event_path(@event)%>
  <%= link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Apple Calendar", @link_apple %>
  <%= link_to "Google Calendar", @link_google %>
</div>
