<div class="wrapper">
  <div class="overlay"></div>
<%= render 'shared/navbar-expanded-overview' %>
<%= render "shared/sidebar" %>
<!-- <div style="background-color: #FE8180; width: 100%; height: 100px; margin-bottom: -100px;"></div> -->
<div class="px-4">
  <div class="card my-4">
    <div class="pb-4">
      <h4 style="font-weight: bold; color: #472B62;"><%= @event.title %></h4>
    </div>
    <div class="divider mb-3">
      <h5 class="mb-3" style="color: #472B62;">Time</h5>
      <% if @event.start_time.present? %>
      <p class="mb-2"><%= @event.start_time.strftime("%d %b %Y, %H:%M") %></p>
      <p><%= @event.end_time.strftime("%d %b %Y, %H:%M") %></p>
      <% else %>
      <p>Haven't decided? Create a poll!</p>
      <% end %>
    </div>

    <div class="divider mb-3">
      <h5 class="mb-3" style="color: #472B62;">Location</h5>
      <% if @event.location.present? %>
      <p><%= @event.location %></p>
      <% else %>
      <p>Haven't decided? Create a poll!</p>
      <% end %>
    </div>

    <div class="mb-3">
      <h5 class="mb-2" style="color: #472B62;">Description</h5>
      <% if @event.description.present? %>
      <p><%= simple_format(@event.description) %></p>
      <% else %>
      <p>Add a nice description so your guests know exactly what's to come!</p>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
      <%= image_tag('share.png', height: '25', width: '25', class: "clipboard-btn", :onclick => "alert('Event links saved to your clipboard, paste it to your guests!')", data: { clipboard_action: "copy", clipboard_text: "#{@share_message}" }) %>
      <%= link_to image_tag('edit.png', height: '25', width: '25'), edit_event_path(@event) %>
      <%= link_to image_tag('delete.png', height: '25', width: '25'), event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>

  <!-- same as <a href="<%= event_guests_path(@event) %>" class="card text-decoration-none"></a> -->
  <%= link_to event_guests_path(@event), class: "card text-decoration-none mb-4" do  %>
    <h5 class="mb-3" style="color: #472B62;">Guests</h5>
    <p class="mb-0" style="color: #646464;"><%= @event.guests.count %> going</p>
    <span class="d-flex justify-content-end">
      <%= image_tag('forward-arrow.png', height: '25', width: '22') %>
    </span>
  <% end %>
</div>
</div>
