
<%= simple_form_for [@event, @poll] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :form_title %>
    <div id="choices">
      <label for="1">Option 1</label>
      <input name="choices[]" type="text" id="1"/>
      <label for="2">Option 2</label>
      <input name="choices[]" type="text" id="2"/>
    </div>
    <button type="button" class="btn btn-white add-choice-btn">Add another Choice</button>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
