<%= render 'shared/navbar-expanded-polls' %>
<div class="px-4" style="margin-top: 200px;">
  <p id="notice"><%= notice %></p>

  <% @polls.each do |poll| %>
  <div class="card">
    <a class="text-decoration-none" href="<%= event_poll_path(@event, poll) %>">
      <h5 class="mb-3" style="color: #472B62;"><%= poll.question %></h5>
      <p align="right" class="mb-2" style="color: #646464;">NUMBER have responded</p>
    </a>
    <div class="d-flex justify-content-between">
      <%= link_to image_tag('share.png', height: '25', width: '25'), @link_google %>
      <a class="text-decoration-none" href="<%= event_poll_path(@event, poll) %>" style="width: 70%;"></a>
      <%= link_to image_tag('delete.png', height: '25', width: '25'), event_poll_path(@event, poll), method: :delete, data: {confirm: "Are you sure you want to delete this poll?"} %>
    </div>
  </div>

  <% end %>
</div>
