<%= render 'shared/navbar-expanded-polls' %>
<%= render "shared/sidebar" %>
<div class="px-4 mt-4">

  <% @polls.each do |poll| %>
    <div class="card mb-4">
    <a class="text-decoration-none" href="<%= event_poll_path(@event, poll) %>">
      <h5 class="mb-3" style="color: #472B62;"><%= poll.question %></h5>
      <% if poll.response_number == 1 %>
      <p align="right" class="mb-2" style="color: #646464;"><%= poll.response_number %> response</p>
      <% else %>
      <p align="right" class="mb-2" style="color: #646464;"><%= poll.response_number %> responses</p>
      <% end %>
    </a>
    <div class="d-flex justify-content-between">
      <%= image_tag('share.png', height: '25', width: '25', class: "clipboard-btn", :onclick => "alert('Poll copied, paste it to your guests!')", data: { clipboard_action: "copy", clipboard_text: "#{poll.link}" }) %>
      <a class="text-decoration-none" href="<%= event_poll_path(@event, poll) %>" style="width: 70%;"></a>
      <%= link_to image_tag('delete.png', height: '25', width: '25'), event_poll_path(@event, poll), method: :delete, data: {confirm: "Are you sure you want to delete this poll?"} %>
    </div>
  </div>
  <% end %>
</div>

<!-- makes sure the last card isn't covered by the bottom btn -->
<div style="height: 115px;"></div>

<div class="bottom-btn">
  <%= link_to "New poll", new_event_poll_path(@event), class: "submit-btn" %>
</div>
