<p id="notice"><%= notice %></p>

<p>
  <strong>Typeform:</strong>
  <%= @poll.typeform_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @poll.event %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
