<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '22', width: '20'), event_polls_path(@event) %>
  <h5 class="mb-0" style="font-family: Noto Sans; font-weight: bold; color: #472B62">Poll results</h5>
  <div style="width: 22px"></div>
</div>

<div class="p-3 d-flex justify-content-around flex-column" style="color: #472B62; height: 102px;">
  <h5 class="m-0"><%= @poll.question %></h5>
  <p class="m-0"><%= @length %> have responded</p>
</div>

<hr style="border-width: 6px; background-color: #FE8180;" class="m-0">


<% @sorted_count.each do |key, value| %>
  <div class="p-3 d-flex justify-content-between" style="color: #472B62;">
    <div d-flex align-items-center>
      <h5 class="my-2"><%= key %></h5>
      <p class="m-0" style="color: #646464;"><%= value %> votes</p>
    </div>

    <div class="d-flex align-items-center">
      <h5 class="m-0"><%= value.to_f / @sum.to_f * 100 %>%</h5>
    </div>
  </div>
  <hr style="border-width: 4px;" class="m-0">

<% end %>

<p id="notice"><%= notice %></p>
<!-- NOT SURE WHERE TO PUT THIS NOTICE P WITHOUT MESSING WITH THE FORMATTING. WE WILL MOVE IT WHEN WE STYLE THE NOTICES/ALERTS -->
