<p id="notice"><%= notice %></p>

<p>
  <strong>Typeform:</strong>
  <%= @poll.form_title %>
</p>

<p>
  <strong>Event:</strong>
  <%= @poll.event %>
</p>

<%= link_to 'Edit', edit_event_poll_path(@event, @poll) %> |
<%= link_to 'Back', event_polls_path(@event) %>
