<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '22', width: '20'), event_expenses_path(@event) %>
  <h5 class="mb-0" style="font-family: Noto Sans; font-weight: bold; color: #472B62"><%= @expense[:description] %></h5>
  <div style="width: 22px"></div>
</div>

<div>
  <%= simple_form_for [@event, @expense, @transaction] do |f| %>
    <%= f.association :payer, collection: @guests, label: "Who?" %>
    <h5 class="mx-3 text-center" style="color: #472B62; font-weight: bold;">paid</h5>
    <%= f.input :amount, input_html: { value: "" }, label: "How much?" %>
    <h5 class="mx-3 text-center" style="color: #472B62; font-weight: bold;">to <%= @expense.guest.name %></h5>
    <div class="bottom-btn">
      <%= f.submit "Settle up", class: "submit-btn-expenses" %>
    </div>
  <% end %>
</div>
