<%= render 'shared/navbar-expanded-expenses' %>
<div>
  <%= @event.title %>

  <!-- Form to filter the expenses by description and/or guest -->
  <%= simple_form_for :search, url: event_expenses_path, method: "GET" do |f| %>
  <%= f.input :description, collection: @event.expenses, label_method: :description, value_method: :description %>
  <%= f.input :guest, collection: @event.guests %>
  <%= f.submit "Filter expenses" %>
  <% end %>

  <!-- Each expense -->
  <ul>
    <% @expenses.each do |expense| %>
    <li>
      <%= expense.guest.name %> paid <%= expense.amount %> for <%= expense.description %>
      <%= link_to "Show", event_expense_path(@event, expense) %>
    </li>
    <% end %>
  </ul>

  <!-- New expense -->
  <%= link_to "New expense", new_event_expense_path %>
</div>
