<div class="navbar px-4 d-flex justify-content-between sticky-top" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '22', width: '20'), event_expenses_path(@event) %>
  <h4 class="mb-0" style="font-weight: bold; color: #472B62">Who paid for what?</h4>
  <div style="width: 22px"></div>
</div>

<div class="d-flex align-items-center" style="height: calc(100vh - 120px);">
  <div class="card mx-4 p-0 w-100">
    <%= simple_form_for [@event, @expense] do |f| %>
    <%= f.association :guest, collection: @event.guests, label: "Who?" %>
    <h5 class="text-center" style="color: #472B62; font-weight: bold;">paid</h5>
    <%= f.input :amount, input_html: { value: "" }, label: "How much?" %>
    <h5 class="text-center" style="color: #472B62; font-weight: bold;">for</h5>
    <%= f.input :description, label: "What?" %>
  </div>
</div>

<div class="bottom-btn">
  <%= f.submit "Add expense", class: "submit-btn-expenses" %>
</div>
<% end %>
