<div class="navbar px-4 d-flex justify-content-between sticky-top" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '22', width: '20'), event_expenses_path(@event) %>
  <h4 class="mb-0" style="font-weight: bold; color: #472B62"><%= @expense[:description] %></h4>
  <div style="width: 22px"></div>
</div>

<!-- Latest settlement/debt transaction -->
<% @payment_transactions_hash.each_value do |transaction| %>
<% if transaction[:difference] == 0 %>
  <div class="px-4 py-3">
    <h5 style="color: #472B62;"><%= transaction[:payer].name %> has setted up with <%= transaction[:payee].name %>!</h5>
  </div>
  <hr style="border-width: 6px; background-color: #FE8180;" class="m-0">

  <% else %>

  <div class="px-4 py-3">
    <h5 style="color: #472B62;"><%= transaction[:payer].name %> now owes <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:difference] %></h5>
  </div>
  <hr style="border-width: 6px; background-color: #FE8180;" class="m-0">

<% end %>
<% end %>

<div class="px-4 py-4">
  <h4 class="text-center" style="color: #472B62;">History</h4>
</div>
<hr style="border-width: 2px;" class="m-0">

<!-- History of transactions -->
<% @payment_transactions.reverse.each do |transaction| %>

  <% if transaction[:is_debt] %>
  <div class="px-4 py-2">
    <h6><%= transaction[:datetime].localtime.strftime("%d %b %Y, %H:%M") %></h6>
    <h5 class="m-0"><%= transaction[:payer].name %> owes <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:difference] %></h5>
  </div>

  <% else %>

  <div class="px-4 py-2">
    <%= transaction[:datetime].localtime.strftime("%d %b %Y, %H:%M") %>
    <h5 class="m-0"><%= transaction[:payer].name %> paid <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:amount] %></h5>
  </div>

  <% end %>
  <hr style="border-width: 4px;" class="m-0">
<% end %>

<!-- The expense -->
<div class="px-4 py-2">
  <%= @expense.created_at.localtime.strftime("%d %b %Y, %H:%M") %>
  <h5 class="m-0"><%= @expense.guest.name %> paid <%= humanized_money_with_symbol @expense.amount %> for <%= @expense.description %></h5>
</div>

<hr style="border-width: 4px;" class="m-0">

<!-- makes sure the last card isn't covered by the bottom btn -->
<div style="height: 115px;"></div>

<!-- New transaction -->
<div class="bottom-btn">
  <%= link_to "Settle up", new_event_expense_transaction_path(params[:event_id], @expense), class: "submit-btn" %>
</div>
