<%= @expense[:description] %>

<ul>
  <!-- Payment transactions -->
  <% @payment_transactions.reverse.each do |transaction| %>
  <li>
    <% if transaction[:debt] == 0 %>
    <strong><%= transaction[:payer].name %> has setted up with <%= transaction[:payee].name %>!</strong>
    <% else %>
    <%= transaction[:payer].name %> now owes <%= humanized_money_with_symbol transaction[:debt] %> to <%= transaction[:payee].name %>
    <% end %>
  </li>
  <li>
    <%= transaction[:payer].name %> paid <%= humanized_money_with_symbol transaction[:amount] %> to <%= transaction[:payee].name %>
  </li>
  <% end %>
  <!-- Debt transactions -->
  <% @transactions.each do |transaction| %>
  <% if transaction.is_debt == true %>
  <li>
    <%= transaction.payer.name %> owes <%= humanized_money_with_symbol transaction.amount %> to <%= transaction.payee.name %>
  </li>
  <% end %>
  <% end %>
  <!-- The expense -->
  <li>
    <%= @expense.guest.name %> paid <%= humanized_money_with_symbol @expense.amount %> for <%= @expense.description %>
  </li>
</ul>

<!-- New transaction -->
<%= link_to "Settle up", new_event_expense_transaction_path(params[:event_id], @expense) %>

<!-- Delete this expense -->
<%= link_to "Delete this expense", event_expense_path(@event, @expense),
method: "DELETE",
data: { confirm: "Are you sure?" } %>
