<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <%= link_to image_tag('back-arrow.png', height: '22', width: '20'), event_expenses_path(@event) %>
  <h5 class="mb-0" style="font-family: Noto Sans; font-weight: bold; color: #472B62"><%= @expense[:description] %></h5>
  <div style="width: 22px"></div>
</div>

<!-- Latest settlement/debt transaction -->
<% @payment_transactions_hash.each_value do |transaction| %>
<% if transaction[:difference] == 0 %>
<h5><%= transaction[:payer].name %> has setted up with <%= transaction[:payee].name %>!</h5>
<% else %>
<h5><%= transaction[:payer].name %> now owes <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:difference] %></h5>
<% end %>
<% end %>

<h4>History</h4>
<!-- Latest payment transaction -->
<% @payment_transactions_hash.each_value do |transaction| %>
<% next if transaction[:is_debt] == true %>
<%= transaction[:datetime].strftime("%d %b %Y, %H:%M") %>
<h5><%= transaction[:payer].name %> paid <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:amount] %></h5>
<% end %>

<!-- History of transactions -->
<% @payment_transactions.reverse.each do |transaction| %>
<%= transaction[:datetime].strftime("%d %b %Y, %H:%M") %>
<h5><%= transaction[:payer].name %> owes <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:difference] %></h5>
<% next if transaction[:is_debt] == true %>
<%= transaction[:datetime].strftime("%d %b %Y, %H:%M") %>
<h5><%= transaction[:payer].name %> paid <%= transaction[:payee].name %> <%= humanized_money_with_symbol transaction[:amount] %></h5>
<% end %>

<!-- The expense -->
<%= @expense.created_at.strftime("%d %b %Y, %H:%M") %>
<h5><%= @expense.guest.name %> paid <%= humanized_money_with_symbol @expense.amount %> for <%= @expense.description %></h5>
<hr style="border-width: 4px;" class="m-0">

<!-- New transaction -->
<%= link_to "Settle up", new_event_expense_transaction_path(params[:event_id], @expense) %>
